.App {
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;
}
pre {
  background-color: #e6e6e6;
  border: 1px solid #cacaca;
}
code {
  background-color: none;
  border: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
